[Desktop Entry]
Type=Application
Version=1.0
Name=Icedesign
Name[en_GB]=Icedesign
GenericName=Planet Forever Creature Tweak
GenericName[en_GB]=Planet Forever Creature Tweak
Comment=Planet Forever Creature Tweak
Icon=icedesign.png
TryExec=icedesign
Exec=icedesign
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=GNOME;Network;
Encoding=UTF-8
